<footer id="contact">
    <div id="locationinfo">
        <h1>LOCATION</h1>
        <p>123 Vinyl Lane, Music City, USA</p>
    </div>
    <div id="divider"></div>
    <div id="contactinfo">
        <h1>CONTACT US</h1>
        <p>If you have any questions, please reach out to us at <a href="mailto:vinylvault@gmail.com">vinylvault@gmail.com</a></p>
    </div>
</footer>